/*--------------------------------------------------------------
# General
colors :{
    #3498db -light blue - peter river
    #9b59b6 - light purple -  amethyst
    #2980b9 - darker blue - belize hole
    #8e44ad - darker purple - wisteria
}

List :{
    floating back to top icon
    filters option button
}
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #4b4b4b;
    background-color: #fef8ff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: inherit;
}

nav {
    font-weight: bolder;
    background-color: #fff;
}

select {
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    color: #4b4b4b;
    padding: 10px;
    border: none;
}


/*--------------------------------------------------------------
# Carousel Section
--------------------------------------------------------------*/

.carousel {
    margin-bottom: 20px;
}

.carousel-item {
    max-height: 700px;
}

.carousel-item .carousel-img:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.596);
    content: "";
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #36064b;
    border-radius: 10px;
    padding: 30px;
    opacity: 1 !important;
}


/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

.navbar-light .navbar-brand,
.offcanvas-title {
    color: #8e44ad;
}

.navbar-light .navbar-brand:hover {
    color: #9b59b6;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: rgb(212, 114, 236);
}

.navbar-toggler span {
    font-size: 25px;
}

.navbar-toggler:hover {
    color: #fff;
    background-color: #8e44ad;
}

.expand-nav {
    padding-left: -60px;
}

.search-bar {
    width: 400px;
    border: none;
    border-radius: 30px;
    padding: 0 20px;
    box-shadow: 0 3px 6px 0 #9c59b621, 0 4px 18px 0 #9c59b61e;
}

.search-bar:focus {
    color: #292129;
    background-color: #fff;
    border-color: #9c59b60c;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(223, 177, 218, 0.096);
}

.search-btn {
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
    background-color: #fff;
    border: none;
    color: #9c59b6;
    margin-left: -40px;
}

.search-btn:hover {
    background-color: #9c59b6;
    color: #fff;
    border-color: #9c59b6;
}

@media (max-width: 769px) {
    .navbar-brand,
    .search-btn {
        font-size: 15px;
    }
    .navbar-toggler span {
        font-size: 20px;
    }
    .expand-nav {
        visibility: hidden;
        display: none;
    }
    .search-bar {
        width: 200px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
    margin-bottom: 10px;
}

.section-bg {
    background: #edf4ff;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #8e44ad;
}

.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #9b59b6;
    bottom: 0;
    left: calc(50% - 60px);
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Sections School Categories
--------------------------------------------------------------*/

.school-categories {
    background-color: #fbf1ff;
}

.media-1 {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}

.media-1:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    content: "";
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    /* opacity: 0; */
    /* visibility: hidden; */
}

.media-1 img {
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 223px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.media-1 .media-1-content {
    z-index: 4;
    top: 50%;
    position: absolute;
    width: 100%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.media-1 .media-1-content h2 {
    position: relative;
    color: #fff;
    font-size: 1.5rem;
    -webkit-transition: 0.4s all ease-in-out;
    -o-transition: 0.4s all ease-in-out;
    transition: 0.4s all ease-in-out;
    bottom: -10px;
    margin-bottom: 0px;
}

.media-1 .media-1-content .category {
    position: relative;
    -webkit-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    bottom: -10px;
    color: #999999;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.media-1:hover:after {
    opacity: 1;
    visibility: visible;
}

.media-1:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


/* .media-1:hover h2 {
    
    bottom: 0px;
    opacity: 1;
    visibility: visible;
}

.media-1:hover .category {
    opacity: 1;
    visibility: visible;
    bottom: 0px;
    -webkit-transition-delay: 0.09s;
    -o-transition-delay: 0.09s;
    transition-delay: 0.09s;
}

.media-1:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
} */


/*--------------------------------------------------------------
# Tops Schools Card
--------------------------------------------------------------*/

.card-parent {
    padding: 20px;
}

.card {
    width: 90%;
    margin-top: 0px;
    text-align: center;
    background-color: #fff;
    color: #8e44ad;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 #9c59b663, 0 6px 20px 0 #9c59b663;
    -webkit-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
}

.card:hover {
    margin-top: -8px;
    color: #8e44ad;
}

.card img {
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


/*--------------------------------------------------------------
# Techers Page
linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
--------------------------------------------------------------*/

#hero {
    background-image: url(../images/banner.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 54px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

#hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}


/***********Our Team***************/

.our-team {
    text-align: center;
    margin-bottom: 30px;
    max-width: 95%;
}

.our-team .team-img {
    overflow: hidden;
    position: relative;
}

.our-team .team-img img {
    max-width: 95%;
    min-width: 95%;
    max-height: 400px;
    min-height: 200px;
}


/* .our-team .social {
    width: 100%;
    height: 30%;
    background: #9c59b6c5;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    border-radius: 100%;
    transform: translateY(-50%) rotate(-30deg);
    transition: all 0.3s ease 0s;
}

.our-team:hover .social {
    height: 100%;
    opacity: 1;
    border-radius: 0px;
    transform: translateY(-50%) rotate(0deg);
}

.our-team .social ul {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
}

.our-team .social ul li {
    display: inline-block;
}

.our-team .social ul li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 17px;
    color: #fff;
    margin-left: 10px;
    background: #212121;
    transition: all 0.3s ease 0s;
}

.our-team .social ul li a:hover {
    background: #fff;
    color: #9b59b6;
} */

.our-team .team-content {
    padding: 20px 0;
    background: #f5f7f8;
    color: #54478a;
}

.our-team .title {
    display: block;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 7px 0;
    padding: 0px;
}

.our-team .post {
    display: block;
    font-size: 15px;
    color: #999;
}

.our-team:hover .team-content {
    background: #4babb1;
}

.our-team:hover .team-content .title {
    color: #ffffff;
}

.our-team:hover .post {
    color: #cccccc;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}


/* -------------------------*/


/* Schools */


/* -------------------------*/

.school-item {
    width: 95%;
    background-color: #9c59b6b9;
    border-radius: 30px;
    max-height: 600px;
    font-weight: bolder;
    padding-top: 10px;
    box-shadow: 0 4px 8px 0 #9c59b66c, 0 6px 20px 0 #9c59b66b;
}

.school-item div {
    color: #fff;
}

.school-item img {
    max-height: 400px;
    border-radius: 40px;
    margin-bottom: 30px;
}

.school-item .properties {
    list-style-type: none;
    font-size: 18px;
    padding: 10px;
    vertical-align: middle;
}

.school-item .properties li {
    padding-top: 3px;
}


/* -------------------------*/


/* Filter */


/* -------------------------*/

.filter {
    color: #050d18;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.filter-card {
    font-size: 14px;
    font-weight: bold;
    background-color: #ffffff;
}

.custom-control-label {
    cursor: pointer;
    line-height: 1.55rem;
}

.custom-control-label::before {
    border-color: #ddd;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: #9b59b6;
}

.custom-control-input:checked~.custom-control-label::before {
    border-color: #9b59b6;
}

.filter .btn {
    width: 100%;
    font-weight: bold;
    background-color: #9b59b6;
    border-color: #9b59b6;
}

.filter .btn i {
    font-size: large;
}

.filter .btn:hover {
    background-color: #8e44ad;
}


/*--------------------------*/


/*   School details  */


/*--------------------------*/

.info {
    text-align: center;
}

.info-card {
    text-align: center;
    background-color: #fff;
    font-size: 36px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 #9c59b66c, 0 6px 20px 0 #9c59b66b;
    max-width: 300px;
}

.general-info {
    text-align: left;
    padding: auto;
    margin-left: 20px;
    padding: 10px;
    max-width: 1100px;
    border-radius: 30px;
}

.general-info ul {
    list-style: none;
}

.info-item {
    width: auto;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(24, 24, 24, 0.034);
    box-shadow: 0 4px 8px 0 #a35ebe11, 0 6px 20px 0 #9c59b618;
    margin-bottom: 10px;
    overflow: auto;
}


/*--------------------------*/


/*   Icon Background  */


/*--------------------------*/

.icon {
    background-color: #fff;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
    text-align: center;
    box-shadow: 0 2px 4px 0 #444344;
    color: rgb(80, 79, 79) !important;
}


/* -------------------------*/


/* About Us */


/* -------------------------*/

.about img {
    max-height: 300px;
}


/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .icon-box {
    margin-bottom: 20px;
}

.services .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    background: #8e44ad;
    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid #8e44ad;
}

.services .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 0;
}

.services .icon-box:hover .icon {
    background: #fff;
}

.services .icon-box:hover .icon i {
    color: #8e44ad;
}

.services .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.services .title a {
    color: #343a40;
}

.services .title a:hover {
    color: #8e44ad;
}

.services .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 14px;
}


/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #8e44ad;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #f9e4f6;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #8e44ad;
}


/* -------------------------*/


/* FOOTER */


/* -------------------------*/

footer {
    background-color: #333;
    padding: 50px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.fa-facebook,
.fa-twitter,
.fa-envelope,
.fa-instagram {
    transition: color 0.2s;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-envelope:hover {
    color: #dd4b39;
}

.fa-instagram:hover {
    color: #517fa4;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}


/*
* 9. item_sum
*/

.item_sum {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.item_sum>.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.item_sum>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.item_sum-body {
    padding: 1.25rem;
}

.item_sum-title {
    margin-bottom: 0.75rem;
}

.item_sum-subtitle {
    margin-top: -0.375rem;
}

.item_sum-link+.item_sum-link {
    margin-left: 1.25rem;
}

.item_sum-header {
    padding: 0.75rem 1.25rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.item_sum-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.item_sum-header-transparent {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: none;
}

.item_sum-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f8f9fa;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.item_sum-footer:last-child {
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.item_sum-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.item_sum-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.item_sum-img-overlay {
    padding: 1.25rem;
}

.item_sum-img-overlay-opacity {
    background: rgba(0, 0, 0, 0.2);
}

.item_sum-img {
    border-radius: calc(0.25rem - 1px);
}

.item_sum-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.item_sum-img-bottom {
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.item_sum-deck .item_sum {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .item_sum-deck {
        margin-right: -15px;
        margin-left: -15px;
    }
    .item_sum-deck .item_sum {
        margin-right: 15px;
        margin-left: 15px;
    }
}

.dark-overlay {
    position: relative;
}

.dark-overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
    opacity: .5;
    z-index: 22;
    background: #000;
}

.reset-anchor {
    color: inherit;
    transition: all 0.3s;
}

.reset-anchor:hover,
.reset-anchor:focus {
    text-decoration: none;
}

.reset-anchor-inherit {
    color: inherit;
}

.reset-anchor-inherit:hover,
.reset-anchor-inherit:focus {
    color: inherit;
    text-decoration: none;
}


/*
*
* ==========================================
* TOOLS STYLES
* ==========================================
*
*/

.essential-tool-img {
    width: 5rem;
    height: 5rem;
    background-size: 100% !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.tool-thumb {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    border: 2px solid white;
}

.tool-thumb img {
    width: 2rem;
    height: 2rem;
}

.tool-rating {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.6rem;
    z-index: 99;
    padding: 0.35rem 0.7rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.2rem;
}

.featured-badge {
    color: #fff;
    padding: 0.35rem 1rem;
    font-size: 0.6rem;
    position: absolute;
    bottom: 1rem;
    right: 7rem;
    z-index: 99;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.2rem;
}


/*
 * 4. PAGINATION
 */

.page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #8e3ead;
    border-color: #8e3ead;
}

.page-item.disabled .page-link {
    color: #7a6c7d;
    background-color: #fff;
    border-color: #e4dee6;
}

.page-link {
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    color: #8e3ead;
    background-color: #fff;
    border: 1px solid #e4dee6;
    font-weight: 700;
    transition: all 0.3s;
}

.page-link:hover {
    z-index: 2;
    color: #8009f0;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #e4dee6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0 0 0 transparent;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}


/*
  * 6. FORMS
  */

.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
    .form-control {
        transition: none;
    }
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #c9d0fd;
    outline: 0;
    box-shadow: 0 0 0 transparent;
}


/*
*
* ==========================================
* Add New Item
* ==========================================
*
*/

.add {
    padding-left: 5px;
    background-color: #ffffff;
}

.add form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.add form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.add form input[type="text"] {
    width: 100%;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.add form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}

.add form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}